<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" 
        href="{{ url_for('static', filename='mapstyles.css')}}" />
<!--        <link rel="stylesheet" href="style.css">-->
        <title>{%block title %}{% endblock %}</title>
        <script src="../static/script.js" defer></script>
    </head>
    <body>

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/index">BAGEL BIKES</a>

          <button class="navbar-toggler" typer="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto">
<!--              <li class="nav-item">-->
<!--                <a href="index" class="nav-link">Home</a>-->
<!--              </li>-->
              <li class="nav-item">
                <a href="/map" class="nav-link">Bike Map</a>
              </li>
              <li class="nav-item">
                <a href="/stats" class="nav-link">Helpful Statistics</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Banner Image -->
      <div class="container-fluid p-0">
        <section class="bg-info text-light p-5">
          <div class="d-sm-flex">
            <div class="col-lg-8">
              <h1 class="lead">Brought to you by the Breakfast Bagels</h1>
              <p>This service brings you all the up-to-date information on available bikes in Dublin. Weather information and helpful statistics are also available!</p>
              <p>Can put more info here on what's on this website and how everything works, yada yada yada</p>
            </div>
            <div class="col-lg-3 offset-1">
              <img class="imag-fluid w-100" src="static/icons/bikebagel.png" />
            </div>
          </div>
        </section>

        <!-- Current Weather Section -->

        <section class="bg-light text-dark p-5"> 
          <div class="d-sm-flex">
            <div class="col-lg-3 row mt-2 offset-1" id="weather-div">
              <div class="col-6-md p-4 border text-center" id="weather-box-col"></div>
            </div>
            <div class="col-lg-7 offset-1">
              <div class="lead"> If you're planning your bike journey, we have all the weather information you need! To the left you'll find the most up-to-date current weather, and below you'll find weahter information for the next 7 hours and the next week. We've got you covered, sunshine or rain!</div>
            </div>
          </div>
        </section>

        <!-- Hourly Weather Section -->

        <section class="bg-light text-dark p-5">
          <div class="row">
              <p class="lead">Weather information for the next 7 hours:</p>
          </div>
          <div id="hour-box-col" class="row justify-content-around border text-center overflow-scroll mt-3" id="hour-div">
          </div>
        </section>
      
        <!-- Daily Weather Section -->

        <section class="bg-light text-dark p-5">
          <div class="row">
            <p class="lead">Weather information for the next week:</p>
          </div>
          <div id="daily-box-col" class="row justify-content-around border text-center mt-3" id="daily-div">
          </div>
        </section>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
